*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aliceblue;
    font-family: 'poppins', sans-serif;
    width: 100vw;
    height: 100vh;
    padding: 10px;
}

.content{
    width: 100%;
    max-width: 1200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 10px;
}

.content .left{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    padding: 10px;
}

.content .right{
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    padding: 10px;
}


