*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aliceblue;
    font-family: 'poppins', sans-serif;
    width: 100vw;
    height: 100vh;
    padding: 10px;
}

.content{
    width: 100%;
    max-width: 1200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 10px;
}

.left{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background-color: rgb(233, 0, 0);
    padding: 10px;
}

.left .category-info{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url(images/2g2widxj.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 12px;
    color: white;
    text-align: center;
}

.left .category-info h1{
    font-size: 1.8em;
    font-family: 'lato', sans-serif;
}

.content .right{
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    padding: 10px;
}


