*{
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    background: none;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.navbar{
    width: 100%;
    max-width: 1200px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}