*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.navbar{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: red; */
}

.navbar .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.navbar .logo i{
    font-size: 1.8em;
    color: #1abc9c;
    cursor: pointer;
    position: relative;
}

.navbar .logo h1{
    color: #0080ff;
    font-weight: 700;
    font-family: 'poppins', sans-serif;
    font-style: normal;
    text-decoration: none;
    cursor: pointer;
    font-size: 2.2em;
    user-select: none;
}

.navbar nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.navbar nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 25px;
}

.navbar nav ul li{
    font-size: 1em;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    text-transform: capitalize;
    cursor: pointer;
    transition: 0.3s ease;
}

.navbar nav ul li:hover{
    color: #1abc9c;
    transform: scale(1.03);
}

.navbar nav ol{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px; 
}

.navbar nav ol i{
    font-size: 1.1em;
    cursor: pointer;
    padding: 10px;
    border: 1px solid #1abc9c;
    border-radius: 50%;
    transition: 0.3s ease;
}

.navbar nav ol i:hover{
    background-color: #1abc9c;
    transform: scale(1.05);
}