*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 0 auto;
    /* background-color: #fcfcfc; */
}

.navbarr{
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #fff;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.389);
}

.navbar{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}

.navbar .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.navbar .logo i{
    font-size: 1.8em;
    color: #1abc9c;
    cursor: pointer;
    position: relative;
}

.navbar .logo h1{
    color: #0080ff;
    font-weight: 700;
    font-family: 'poppins', sans-serif;
    font-style: normal;
    text-decoration: none;
    cursor: pointer;
    font-size: 2.2em;
    user-select: none;
}

.navbar nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.navbar nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 25px;
}

.navbar nav ul li{
    font-size: 1em;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    text-transform: capitalize;
    cursor: pointer;
    transition: 0.3s ease;
    padding: 5px;
    position: relative;
}

.navbar nav .menu{
    font-size: 1.1em;
    cursor: pointer;
    color: #000000;
    /* padding: 10/px; */
    /* border: 1px solid #1abc9c; */
    /* border-radius: 50%; */
    transition: 0.3s ease;
    /* display: none; */
    visibility: hidden;
}

.navbar nav .menu:hover{
    /* background-color: #1abc9c; */
    transform: scale(1.05);
}

/* .navbar nav ul{
    background-color: red;
    font-size: 5em;
    z-index: 5;
} */

.navbar nav ul li:hover{
    color: #1abc9c;
    transform: scale(1.03);
}

.navbar nav ul li.active::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #0080ff;
    /* padding-top: 5px; */
    /* margin-top: 5px; */
    z-index: 1;
}

.navbar nav ol{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px; 
}

.navbar nav ol i{
    font-size: 1.1em;
    cursor: pointer;
    padding: 10px;
    border: 1px solid #1abc9c;
    border-radius: 50%;
    transition: 0.3s ease;
}

.navbar nav ol i:hover{
    background-color: #1abc9c;
    transform: scale(1.05);
}

@media (max-width: 860px) {
    .navbar nav{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }


    .navbar nav ul{
        /* display: flex; */
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: #ffffff;
        list-style: none;
        padding: 10px;
        position: fixed;
        top: 45px 0;
        z-index: 5;
        display: none;
    }

    .navbar nav ul.show{
        display: flex;
    }

    .navbar nav .menu{
        visibility: visible;
    }
}

.introdiscount{
    width: 100%;
    background: url(shop.jpg);
    height: 350px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: end;
}

.introdiscount .text{
    text-align: right;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
    /* background-color: red; */
}

.introdiscount .text h1{
    font-size: clamp(16px, 2.5vw, 2.2em);
    color: #000000;
    text-transform: capitalize;
    font-family: "Chewy", system-ui;
    letter-spacing: 5px;
    user-select: none;
}

.introdiscount .text h1 span{
    font-size: 3.5em;
    color: #fff;
    letter-spacing: none;
    font-family: "Meow Script", cursive;
    font-weight: 500;
    font-style: normal;
    line-height:7px;
    /* padding: 5px; */
}

@media (max-width: 1025px) {
    .introdiscount{
        justify-content: flex-start;
        /* background-color: red; */
    }

    .introdiscount .text{
        /* max-width: 700px; */
        width: 85%;
        padding: 0 15px;
        align-self: self-start;
        padding-top: 35px;
    }

    .introdiscount .text h1 span{
        font-size: clamp(20px, 40vw, 4.5em);
    }

    .introdiscount .text h1 span{
        line-height: 50px;
    }

}

.content{
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
    padding: 20px;
}

.content .content-box{
    width: 100%;
    /* height: 100%; */
    /* max-width: 270px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: #ff0000; */
    padding: 10px;
    border: none;
    box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.content .content-box:hover{
    transform: scale(1.02);
}

.content .content-box h1{
    text-align: center;
    color: #1abc9c;
    font-weight: 600;
    font-size: 1.5em;
    font-family: 'lato', sans-serif;
}

.content .content-box .item-img{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .content-box .item-img img{
    width: 130px;
    height: 130px;
    padding: 10px;
}

.content .content-box .description{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.content .content-box .description p{
    text-align: left;
    font-size: .8em;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    letter-spacing: none;

}

.content .content-box hr{
    margin: 10px;
    /* width: 80%; */
}

.content .content-box .view{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 5px;
}

.content .content-box .view p span{
    font-size: 0.9em;
}

.content .content-box .view p{
    text-align: center;
    font-size: 0.7em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.content .content-box .view button{
    font-size: 0.7em;
    padding: 8px;
    border-radius: 5px;
    border: none;
    font-family: 'lato', sans-serif;
    font-weight: 500;
    background-color: #0080ff;
    cursor: pointer;
    transition: 0.3s ease;
}

.content .content-box .view button:hover{
    transform: scale(1.02);
}


